<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>URL Shortener</title>
        <link rel="stylesheet" href="/styles.css">
        <script src="script.js" defer></script>
    </head>
    <body>
        <header>
            <h1>URL Shortener</h1>
        </header>
        <main>
            <form id="url_form">
                <div class="form-section">
                    <span>Enter base URL:</span>
                    <div style="display: flex; flex-direction: row;">
                        <input type="text" id="baseurl" name="baseurl">
                        <button id="fetch_btn">Fetch</button>
                    </div>
                </div>
                <div class="form-section">
                    <span>Copy Short URL:</span>
                    <div style="display: flex; flex-direction: row;">
                        <input type="text" id="newurl" name="newurl" disabled>
                        <button id="copy_btn">Copy</button>
                    </div>
                </div>
            </form>    
        </main>
    </body>
</html>